<%= link_to "自己紹介編集", edit_user_profile_path(@user.id, @profile.id) %> 
<div class="wrapper">
<div class="mypage_index">
<%= image_tag @user.profile.image.url, class: "mypage_image" %> 
<div class="mypage_info">
<h3 class="mypage"><%= "#{@name}さん" %>
<a class="mypage_age">
<%= "#{@user.profile.age}歳" %> 
</a>
<a class="birthplace">
<%= "#{@user.profile.birthplace}"%> 
</a> 
</h3>
<div class="certificaton">
<label>資格：</label>
<%= "#{@user.profile.certificaton}" %>
</div> 
<div class="strong">
<label>得意分野：</label>
<%= "#{@user.profile.strong}" %> 
</div> 
<div class="birthplace">
<label>出身：</label>
<%= "#{@user.profile.birthplace}"%> 
</div> 
<div class="text">
<label>コメント：</label>
<%= "#{@user.profile.text}"%> 
</div> 
</div> 
</div> 
</div>