<div class="form-group">
  <%= form_with(url: search_rooms_path, local: true, method: :get) do |f| %>
  <%= f.text_field :keyword, placeholder: "相談室を検索する", class: "form-control", id: "search_text"%>
  <%= f.submit "検索", class: "btn btn-primary", id: "search_button"%>
  <% end %>
  </div>
<div class="title">オンライン相談中</div>
<div class="follow_all"> 
<div class="container"> 
  <% @users.each do |user| %> 
  <% user.rooms.each do |room| %> 
<div class="follow_index">
  <%= image_tag user.profile.image.url, class: "follow_image" %> 
<div class="follow_info"> 
  <%= link_to user.name, user_path(user), method: :get,class: "follow_name"%> 
  <%= link_to user.profile.certificaton, class: "follow_center"%> 
  <%= link_to room.box, user_room_path(user.id, room.id), class: "room_index"%> 
</div>
  <% end %> 
  <% end %>
</div> 
</div>