 <% if flash[:info] %> 
  <p class="text-info" id="info"><%= flash[:info]%>
<% end %> 
<div class="create_room">
  <%= form_with model: [@user, @room], local: true do |f| %> 
<div class="form-room"> 
<div class="create-name">相談室作成</div>
<div class="group"> 
  <label>相談室名</label> 
  <%= f.text_field :box, id: "room_name", class: "form-control"%> 
</div>
<div class="group-background"> 
  <label>相談室画像</label> 
  <%= f.file_field :image, id: "background_image_room", class: "form-control"%>
</div>
  <%= f.submit "作成", class: "btn btn-primary"%>
  <% end %>
</div> 
</div>